<%- include ('./partials/header.ejs') %>
</head>
<body>
    <%- include ('./partials/navbar.ejs') %>
    <div class="container">
        <div class="card">
            <div class="card-header">
                <h1> Bem Vindo! <br> Escolha abaixo uma das opções:</h1>
                <hr>
            </div>
        </div>
        <a href="/cadastro" button class="btn btn-primary"><h2>Cadastrar Novo Nome</h2></button>
        
        <a href="/cadastrado" button class="btn btn-danger"><h2>Visualizar Cadastrados</h2></button>

</body>
<%- include ('./partials/footer.ejs') %> 